body {
    padding: 70px 0 0 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    min-height: 100%;
    /*background: white;*/
}

.container #content{
    padding: 20px 0 0 0;

}

.uploadFile {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    background-color: transparent;
    color: transparent;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.uploadItemTable tr :last-child{
    width:75%;
}
.uploadItemTable tr :first-child{
    min-width:125px;
}

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

#upload .table-responsive {

    max-height:20em;
}

/*
#markedCheck{
    width:10%;
    height:auto;
    overflow:hidden;
}*/

@media (max-width: 768px) {
    #resultBodyDiv{
        max-height: 30em;
        overflow:auto;
    }

}

@media (min-width: 992px) {
    #resultBodyDiv{
        max-height: 50em;
        overflow:auto;
    }

}
